@import "tailwindcss";
@source "../node_modules/@wearemobi/ui/src";
@import "@wearemobi/ui/styles.css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-outfit: "Outfit", sans-serif;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #f43f5e;
  --color-info: #3b82f6;
}



@keyframes mobi-progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
